.footer {
  padding-top: 43px;
  background-image: $cerulean-viking-to-right;
}

.footer__grid-container {
  display: grid;
  grid-template-columns:
    minmax(167px, 17.06%) 9.3% minmax(201px, 18.6%) 17.05%
    minmax(173px, 19.54%);
  column-gap: 4.62%;
  margin: 0 auto 23px;
  padding-left: 16.41%;
  padding-right: 16.3%;

  @media (max-width: 1539px) {
    padding-left: 6%;
    padding-right: 6%;
  }

  @media (max-width: 1539px) {
    grid-template-columns:
      minmax(167px, 17.06%) 9.3% minmax(176px, 18.6%) 17.05%
      minmax(173px, 19.54%);
    column-gap: 4%;
  }
}

.footer__logo {
  display: block;
  opacity: 1;
  transition: opacity $default-transition-settings;

  &:hover {
    opacity: 0.7;
    transition: opacity $default-transition-settings;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid $color-black-russian;
    outline-offset: 5px;
    transition: outline-offset $default-transition-settings;
  }

  &:active {
    opacity: 0.5;
    transition: opacity $default-transition-settings;
  }
}

.footer__logo + p {
  margin: 0;
  margin-top: 23px;
  font-size: 14px;
  line-height: 24px;

  @include typography(14, 24);
  color: rgba(255, 255, 255, 0.7);

  @media (max-width: 1539px) {
    font-size: 12px;
    line-height: 24px;

    @include typography(12, 24);
  }
}

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav__link {
  position: relative;
  font-weight: 500;
  font-size: 15px;
  line-height: 40px;

  @include typography(15, 40);
  color: $color-default-white;
  cursor: pointer;

  &::before,
  &:hover::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 1px;
  }

  &::before {
    border: 1px dashed transparent;
    transition: border $default-transition-settings;
  }

  &:hover::before {
    border-color: $color-default-white;
    transition: border-color $default-transition-settings;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid $color-black-russian;
    outline-offset: 5px;
    transition: outline-offset $default-transition-settings;
  }

  &:active {
    opacity: 0.5;
    transition: opacity $default-transition-settings;
  }

  @media (max-width: 1539px) {
    font-size: 13px;
    line-height: 40px;

    @include typography(13, 40);
  }
}

.footer__btn {
  position: relative;
  margin-top: 10px;
  padding: 11px 28px 11px 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  @include typography(14, 24);
  color: $color-default-white;

  @media (max-width: 1539px) {
    padding: 11px 20px 11px 40px;
    font-size: 13px;

    @include typography(13, 24);
  }
}

.footer__btn svg {
  position: absolute;
  top: 13px;
  left: 20px;
  z-index: 1;
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;

  @media (max-width: 1539px) {
    left: 12px;
  }
}

.footer__address-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__address-item {
  margin-bottom: 6px;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;

  @include typography(14, 24);
  color: $color-default-white;

  @media (max-width: 1539px) {
    font-size: 13px;

    @include typography(13, 24);
  }
}

.footer__address-town {
  margin-bottom: -3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;

  @include typography(16, 30);

  &:not(:first-child) {
    margin-top: 13px;
  }
}

.footer__contacs p:first-child {
  margin: 0;
  font-size: 14px;
  line-height: 24px;

  @include typography(14, 24);
  color: $color-default-white;

  @media (max-width: 1539px) {
    font-size: 13px;

    @include typography(13, 24);
  }
}

.footer__contacs > p:nth-child(2n + 2) {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;

  @include typography(22, 30);
  color: $color-default-white;

  @media (max-width: 1539px) {
    font-size: 20px;

    @include typography(20, 24);
  }
}

.footer__contacs > a {
  position: relative;
  font-size: 15px;
  line-height: 24px;

  @include typography(15, 24);
  color: $color-default-white;
  cursor: pointer;

  &::before,
  &:hover::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 1px;
  }

  &::before {
    border: 1px dashed transparent;
    transition: border $default-transition-settings;
  }

  &:hover::before {
    border-color: $color-default-white;
    transition: border-color $default-transition-settings;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid $color-black-russian;
    outline-offset: 5px;
    transition: outline-offset $default-transition-settings;
  }

  &:active {
    opacity: 0.5;
    transition: opacity $default-transition-settings;
  }

  @media (max-width: 1539px) {
    font-size: 14px;

    @include typography(14, 24);
  }
}

.footer__contacs-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  column-gap: 4.9%;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  list-style: none;
}

.footer__contacs-item {
  margin-top: 13px;
}

.footer__contacs-link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: $color-default-white;
  box-shadow: 0 4px 6px rgba(2, 142, 206, 0.32);
  border-radius: 4px;
  transition: background-color $default-transition-settings;

  &--vk svg {
    fill: $color-steel-blue;
  }

  &--fb svg {
    fill: $color-dodger-blue;
  }

  &--instagram svg {
    fill: $color-dark-magenta;
  }

  &--whatsapp svg {
    fill: $color-medium-sea-green;
  }

  &--telegram svg {
    fill: $color-summer-sky;
  }

  &:hover {
    background-color: $color-cerulean;
    transition: background-color $default-transition-settings;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid $color-black-russian;
    outline-offset: 5px;
    transition: outline-offset $default-transition-settings;
  }

  &:active {
    opacity: 0.5;
    transition: opacity $default-transition-settings;
  }
}

.footer__contacs-link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: fill $default-transition-settings;
}

.footer__contacs-link:hover svg {
  fill: $color-default-white;
  transition: fill $default-transition-settings;
}

.footer__bottom-line {
  display: flex;
  align-items: center;
  min-height: 50px;
  margin: 0 auto;
  padding: 0 16.41%;
  background: rgba(27, 29, 50, 0.26);

  @include viewport--lg {
    padding-left: 6%;
    padding-right: 6%;
  }
}

.footer__bottom-line p {
  margin: 0;
  margin-right: 30px;
  padding-top: 3px;
  font-size: 14px;
  line-height: 24px;

  @include typography(14, 24);
  color: $color-default-white;
}

.footer__privacy-policy {
  margin-right: auto;
  padding-bottom: 2px;
  font-size: 13px;
  line-height: 24px;

  @include typography(13, 24);
  color: $color-default-white;
  text-decoration-line: underline;
  opacity: 1;
  transition: opacity $default-transition-settings;

  &:hover {
    opacity: 0.7;
    transition: opacity $default-transition-settings;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid $color-black-russian;
    outline-offset: 5px;
    transition: outline-offset $default-transition-settings;
  }

  &:active {
    opacity: 0.5;
    transition: opacity $default-transition-settings;
  }
}

.footer__websolution {
  margin-right: 27px;
  opacity: 1;
  transition: opacity $default-transition-settings;

  &:hover {
    opacity: 0.7;
    transition: opacity $default-transition-settings;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid $color-black-russian;
    outline-offset: 5px;
    transition: outline-offset $default-transition-settings;
  }

  &:active {
    opacity: 0.5;
    transition: opacity $default-transition-settings;
  }
}

.footer__websolution img {
  padding-top: 2px;
}
