.modal--call-back .modal__wrapper {
  padding-left: 111px;
}

.modal--call-back .modal__content {
  width: 550px;
  padding: 56px 90px 61px;
  box-shadow: 0 2px 10px rgba(78, 127, 222, 0.2);
  border-radius: 20px;
}

.modal--call-back .modal__close-btn {
  top: 20px;
  right: 20px;
}
