.select {
  position: relative;
}

.select.select-open {
  z-index: 5;
}

.select.select-focus {
  border-radius: 6px;
  outline: 1px solid rgba(51, 193, 204, 0.3);
}

.select .select__scroll {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid $color-black-russian;
    outline-offset: 5px;
    transition: outline-offset $default-transition-settings;
  }
}

.select__body {
  position: relative;
  height: 50px;
}

.select__title {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(201, 210, 234, 0.1);
  text-align: left;
  box-shadow: inset 0 4px 4px rgba(201, 210, 234, 0.29);
  border: 0;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    outline: 1px solid rgba(51, 193, 204, 0.3);
  }

  &:focus {
    outline: none;
  }
}

.select__value {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 17px 18px 15px;
  justify-content: space-between;
  color: $color-wild-blue-yonder;

  &::before {
    content: "";
    position: absolute;
    top: 23px;
    right: 21px;
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 6px;
    background-image: url("../img/svg/accordion-arrow.svg");
    background-repeat: no-repeat;
    background-size: 10px 6px;
    background-position: 50%;
    transform: rotate(0deg);
    transition: transform 0.3s ease-out;
  }
}

.select-active .select__value {
  color: $color-black-russian;
}

.select-open .select__value::before {
  transform: rotate(-180deg);
  transition: transform 0.3s ease-out;
}

.select__options {
  position: relative;
  bottom: 1px;
  max-height: 218px;
  padding: 19px 18px;
  background: $color-default-white;
  border-radius: 6px;
  filter: drop-shadow(0 2px 20px rgba(78, 127, 222, 0.2));
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 180px;
  scrollbar-color: $color-wild-blue-yonder rgba(201, 210, 234, 0.4);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: $color-wild-blue-yonder;
  }

  &::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: rgba(201, 210, 234, 0.4);
  }
}

.select__option {
  width: 100%;
  display: block;
  text-align: left;
  color: $color-black-russian;
  background: $color-default-white;
  margin: 0;
  padding: 10px 0;
  border: 0;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      background-color: rgba(201, 210, 234, 0.1);
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: rgba(201, 210, 234, 0.1);
    outline: 1px solid $color-black-russian;
    outline-offset: -1px;
    transition: background-color $default-transition-settings,
      outline-offset $default-transition-settings;
  }

  &:active {
    opacity: 0.5;
    transition: opacity $default-transition-settings;
  }
}

.select__option.select-selected {
  background-color: rgba(201, 210, 234, 0.3);
  pointer-events: none;
}
