<div class="desease-modal">
  <div class="desease-modal__grid-container">
    <div class="desease-modal__text-container">
      <h2>Близорукость</h2>
      <p>
        В&nbsp;&laquo;Доктор Линз&raquo; мы&nbsp;применяем индивидуальный подход и&nbsp;поиск оптимального решения для
        каждого
        пациента с&nbsp;учётом его диагноза, возможностей и&nbsp;пожеланий
        У&nbsp;нас ведут приём специалисты разных профилей в&nbsp;области офтальмологии и&nbsp;ортокератологии,
        благодаря
        чему
        мы&nbsp;можем предложить нашим клиентам омплексное комплексное лечение проблем зрения
        <br>
        Мы&nbsp;работаем, чтобы у&nbsp;вас появилась возможность увидеть мир в&nbsp;новом высоком разрешенииомплексное
        комплексное лечение проблем зрения
        <br>
        Мы&nbsp;работаем, чтобы у&nbsp;вас появилась возможность увидеть мир в&nbsp;новом высоком разрешении
        Мы&nbsp;работаем, чтобы у&nbsp;вас появилась возможность увидеть мир в&nbsp;новом высоком разрешенииомплексное
        комплексное лечение проблем зрения
        <br>
        В&nbsp;&laquo;Доктор Линз&raquo; мы&nbsp;применяем индивидуальный подход и&nbsp;поиск оптимального решения для
        каждого
        пациента с&nbsp;учётом его диагноза, возможностей и&nbsp;пожеланий
        У&nbsp;нас ведут приём специалисты разных профилей в&nbsp;области офтальмологии и&nbsp;ортокератологии,
        благодаря
        чему
        мы&nbsp;можем предложить нашим клиентам омплексное комплексное лечение проблем зрения
        <br>
        Мы&nbsp;работаем, чтобы у&nbsp;вас появилась возможность увидеть мир в&nbsp;новом высоком разрешенииомплексное
        комплексное лечение проблем зрения
        <br>
        Мы&nbsp;работаем, чтобы у&nbsp;вас появилась возможность увидеть мир в&nbsp;новом высоком разрешении
        Мы&nbsp;работаем, чтобы у&nbsp;вас появилась возможность увидеть мир в&nbsp;новом высоком разрешенииомплексное
        комплексное лечение проблем зрения
      </p>
    </div>
    <!--  -->
    @@include("source/html/components/sign-up__form.html", {
      "mod": "modal",
      "Title": "Записаться на приём",
      "Submit-text": "Записаться"
    })

  </div>
  <a href="#" aria-label="Подробнее">Подробнее
    <svg width="20" height="10">
      <use xlink:href="img/sprite_auto.svg#dotted_arrow"></use>
    </svg>
  </a>
</div>
