<div class="modal-increase">
  <picture>
    <!-- 1х: 504px; 2x: 1008px -->
    <source type="image/avif" data-srcset="img/content/license-big@1x.avif 1x, img/content/license-big@2x.avif 2x" srcset="../img/bg/1x1.png">
    <!-- 1х: 504px; 2x: 1008px -->
    <source type="image/webp" data-srcset="img/content/license-big@1x.webp 1x, img/content/license-big@2x.webp 2x" srcset="../img/bg/1x1.png">
    <!-- 1х: 504px; 2x: 1008px -->
    <img data-src="img/content/license-big-big@1x.jpg" src="../img/bg/1x1.png" alt="Лицензия" width="504" height="650"
      data-srcset="img/content/license-big@2x.jpg"
      loading="lazy">
  </picture>
</div>
