/* muller-light */
@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/muller-light.woff2") format("woff2"), url("../fonts/muller-light.woff") format("woff");
}

/* muller-regular */
@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/muller-regular.woff2") format("woff2"), url("../fonts/muller-regular.woff") format("woff");
}

/* muller-medium */
@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/muller-medium.woff2") format("woff2"), url("../fonts/muller-medium.woff") format("woff");
}

/* muller-bold */
@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/muller-bold.woff2") format("woff2"), url("../fonts/muller-bold.woff") format("woff");
}

/* inter-500 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/inter-500.woff2") format("woff2"), url("../fonts/inter-500.woff") format("woff");
}

/* circe-regular */
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/circe-regular.woff2") format("woff2"), url("../fonts/circe-regular.woff") format("woff");
}

/* pt-rouble-sans */
@font-face {
  font-family: "PT-Rouble-sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/pt-rouble-sans.woff2") format("woff2"), url("../fonts/pt-rouble-sans.woff") format("woff");
}
